/* Normalize */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
 
  /* Dimensionner les diapos et leur contenu */
  /* Ajouter un fond unique, couvrant l'écran */
  /* Fixer le fond, et hop ! */
  section {
    height: 100vh;
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    background-size: 120%;
    background-attachment: fixed;
  }
  /* ===========================================================img-background==================================================================== */
  section:nth-of-type(1) {
    background-image: url('../medias/2242608.jpg');
    background-position-x: -150px;
  }
  section:nth-of-type(2) {
    background-image: url('../medias/2537093.jpg');
    background-position-x: -150px;
  }
  
  section:nth-of-type(3) {
    background-image: url('../medias/4436122.jpg');
    background-position-x: -150px;
  }
  
  section:nth-of-type(4) {
    background-image: url('../medias/4436128.jpg');
    background-position-x: -150px;
  }
  section:nth-of-type(5) {
    background-image: url('../medias/4436128.jpg');
    background-position-x: -150px;
  }
/* ======================================================Scroll-snapping======================================================================== */
  html {
    scroll-snap-type: y proximity;
  }
  
  section {
    scroll-snap-align: start;
  }
/* ======================================================="Peaky Blinders""======================================================================= */
main>section>h1{
    font-size: 15vh;
    font-family: 'ClanrendonCnBT', 'Leander', sans-serif;
    letter-spacing: 0.1em;
    text-shadow: 5px 5px #61330a8d;
    padding: 45vh;

}
/* ===========================================================images sur les cotés============================================================== */
aside>div>svg{
  height: 3em;
  width: 3em;

  margin: 0.5em 0;
  color: rgb(255, 255, 255);
  filter: drop-shadow(0 0 1rem white);
}

svg:hover{
  height: 3.5em;
  color: rgb(149, 94, 10);
}
aside>div{
  position: fixed;
  display: flex;
  right: 3%;
  bottom:3%;
  flex-direction: column;
  z-index: 6;
}
/* ================================================================Police d'écriture=========================================================== */
@font-face {
    font-family: 'clanrendonCnBT';
    src: url('../fonts/CLRNDNC.TTF') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Leander';
    src: url('../fonts/Leander.ttf') format('truetype');
    font-weight: normal;
}
/* =================================================================bande annonce et détachement====================================================== */

#video {
  width: 50vw;
  height: calc(50vw * 315 / 560);
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.2s;
  z-index: 9;
}
.scroll {
  position: fixed !important;
  width: 20vw !important;
  height: calc(15vw * 3 / 4) !important;
  top: 5vh !important;
  right: 5% !important;
  z-index: 3;
}
section:nth-of-type(2)>div{
  position: relative ;
  top : 20vh;
  right: 50vh;
}
#video:hover {
  box-shadow:7px 7px 5px 0 rgba(0,0,0,0.5);
  transform:scale(1.105);
}
/* ===========================3eme slide====================================== */
p{
    font-size: 5vh;
  }
/* ============================map================================ */
#Carte {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 6fr 6fr;
  color: #444;
  padding: 5vh 0;
 }

#map { height: 100%;
       width:  100%;
       z-index: 2;
       border: 2mm ridge rgba(32, 17, 48, 0.561);
 }

#Carte>div {
  background-color: rgba(68, 68, 68, 0.509);
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  z-index: 1;

}
/* =========================buttons========================================= */
#Carte>div>button{
  color: white;
}
.slide {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 30px 13px;
  outline: 0;
  border: 2px solid rgb(253, 253, 253);
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.slide i {
  opacity: 0;
  font-size: 13px;
  transition: 0.2s;
  position: absolute;
  right: 10px;
  top: 21px;
  transition: transform 1s;
}

.slide div {
  transition: transform 0.8s;
}

.slide:hover div {
  transform: translateX(-6px);
}

.slide::after {
  content: "";
  background-color: #61330a8d;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
}

.slide:hover i {
  opacity: 1;
  transform: translateX(-6px);
}
.slide:hover::after {
  top: 0px;
  left: 0px;
  transition: 0.4s;
}
/* ==============================titre carte==================================== */
#Carte>div>h2{
    font-size: 6vh;
    font-family: 'ClanrendonCnBT', 'Leander', sans-serif;
    letter-spacing: 0.1em;
    text-shadow: 5px 5px #61330a8d;
    /* color: rgb(45, 23, 1); */
    padding-bottom: 10vh;
}
#Carte>div>p{
  padding-bottom: 5vh;
  font-size: 3.5vh;
}

/* ==================================characters================================================ */
section:nth-of-type(3){
  height: 100vh;
  display: grid;
  grid-template-columns: 15vw 1fr 2fr 15vw;
  column-gap: 1vw;
  grid-template-rows: 45vh 2fr 1fr;
}

 section:nth-of-type(3)>div{
  grid-row: 2/span 2;
  grid-column: 1/-1;
  background-color: #61330a8d;
  height:35vh;
  margin-top:5vh;
  opacity: 80%;
  z-index:0;
}

 section:nth-of-type(3)>p{
  grid-row:2;
  grid-column:2;
  margin-top: 15vh;
  z-index:3;
  font-family: texte, sans-serif;
  font-size: 5vh;
    font-family: 'ClanrendonCnBT', 'Leander', sans-serif;
    letter-spacing: 0.1em;
    text-shadow: 5px 5px #3c3c3c8d;
    padding: 5vh;

}

 section:nth-of-type(3)>img{
  grid-row: 1/span 2;
  grid-column:3;
  border: 10px ridge #000000;
  border-radius: 0px 40px 0px 40px;
  width: 16vw;
  height: 50vh;
  object-fit: contain;
  margin-top:25vh;
  margin-left:23vw;
  z-index:2;
  /* display:none; */
}

 section:nth-of-type(3)>button:nth-of-type(1){
  /* place-self: end left; */
  grid-row: 1/span 2;
  grid-column:3;
  border: none;
  background-color: transparent;
  margin-right: 3vw;
  font-size: 5vw;
  color: white;
}

 section:nth-of-type(3)>button:nth-of-type(2){
  grid-row: 1/span 2;
  grid-column:4;
  position: relative;
  color: white;
  border: none;
  background-color: transparent;
  font-size: 5vw;
  z-index: 4;
}

section:nth-of-type(3)>h1{
  place-self: end left;
  font-size: 15vh;
  font-family: 'ClanrendonCnBT', 'Leander', sans-serif;
  letter-spacing: 0.1em;
  text-shadow: 10px 10px #61330a8d;
  padding: 5vh;
  position: relative;
  top: 8vh;
}
/* ===================================================================================================================================== */
section:nth-of-type(5)>div:nth-of-type(1)>div>p.active {
  visibility: visible; 
}
section:nth-of-type(5){
  display : grid;
  grid-template-columns : 1fr 1fr;
  grid-template-rows : 20vh 1fr 10vh;

}
section:nth-of-type(5)>h2{
  grid-row: 1;
  grid-column: 1;
  align-items: center;
  color: white ;
}
section:nth-of-type(5)>div:nth-of-type(1){
  grid-row : 2;
  grid-column: 1;
  color: white ;
  display : grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows : 1fr 1fr 1fr;
}

section:nth-of-type(5)>div:nth-of-type(2){
  grid-row : 2;
  grid-column: 2;
  color: white ;
  display : grid;
  grid-template-columns : 1fr 1fr;
  grid-template-rows : auto 1fr;
}

section:nth-of-type(5)>div:nth-of-type(1)>div>img{  
  width : 7vw;
}

section:nth-of-type(5)>div:nth-of-type(1)>div>p{
  visibility: hidden;
}

section:nth-of-type(5)>div:nth-of-type(2)>p{
  color : white;
  /* grid-row : 1;
  grid-column: 1; */
}